/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ___ |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | ___ |
// |  ___ |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ___ |
// |  ___ |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ___ |
//                    | GUI | LWR | ENT |   | ESC | SPC  | ALT |
                        bindings = <

   &trans &kp Q &kp W &kp E &kp R &kp T    &kp Y  &kp U  &kp I     &kp O   &kp P    &trans
   &trans &kp A &kp S &kp D &kp F &kp G    &kp H  &kp J  &kp K     &kp L   &kp SEMI &trans
   &trans &kp Z &kp X &kp C &kp V &kp B    &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &trans
                 &kp LGUI &kp ENTER &kp ENTER   &kp RET &pk SPACE &kp RALT
                        >;
                };

        };
};

